

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

img {
  height: 500px;
  width: 500px;
  border: 30px;
  margin: 30px;
}

ul {
  text-align: center;
  list-style-type: none;
  border: ;
}

h2 {
  text-align: center;
}





h3 {
  font-style: italic; font-style: bold;
}